@model RenderingModel
@using MVC.Tutorial

<div class="highlight" style="background: #@Model.Rendering.Parameters["Background"]">
    Page Item Name: @Model.PageItem.Name
    <br />
    Item Name @Model.Item.Name / @Model.Rendering.Item.Name
    <br />
    Parameters: @Model.Rendering.Parameters["Colour"]

</div>  